[Unit]
Description=AMQP Wrapper Service
After=network.target

[Service]
User=pi 
Group=pi 
WorkingDirectory=/opt/wrapper-amqp
ExecStart=/usr/bin/node /opt/wrapper-amqp/index.js
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

# --- VARIABLES DE ENTORNO INYECTADAS POR EL DESARROLLADOR ---
# El cliente NO necesita saber/tocar estos valores.
Environment="AMQP_URL=amqps://pmifhbub:YivJXUIet_N2gifb8b5nc05OCjWIgile@possum.lmq.cloudamqp.com/pmifhbub"
Environment="POS_API_URL=https://api.idbi.pe/api/v6"
Environment="RB_SERVICE_URL=http://localhost:5000"
Environment="PRINTER_WRAPPER_TOKEN=2b4ac8fb6e29de70b0032b83d5cbfae9b51c6a9f7451249cf7fcf5dd45e15a9e"
Environment="MAX_RETRIES=5"

[Install]
WantedBy=multi-user.target